html{
    font-size: 16px;
}
body{
    background-color: rgb(86, 85, 104);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#mainHeading{
    text-align: center;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}
.Roman{
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(138, 199, 199);
    border-radius: 25px;
    align-items: center;
}
#label{
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 2%;
}
.palinin{
    text-align: center;
    display: flex;
    width: 100%;
    height: 25%;
    margin-top: 1%;
    justify-content: center;
}

#number{
    text-align: center;
    width: 60%;
    height: 100%;
    margin-right: 3%;
    box-sizing: border-box;
    font-size: 1.5rem;

}
#convert-btn{
    cursor: pointer;
    height: 100%;
    width: 15%;
    border-radius: 15px;
    color: white;
    background-color: rgb(154, 228, 104);
    border: none;
    font-size: 0.85rem;

}
#output{
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
}

@media screen and (max-width: 1220px), screen and (max-height: 730px) {
    html {
        font-size: 12px; /* Adjust this value as needed */
    }
}
@media screen and (max-width: 925px), screen and (max-height: 630px) {
    html {
        font-size: 10px; /* Adjust this value as needed */
    }
}
@media screen and (max-width: 741px), screen and (max-height: 542px) {
    html {
        font-size: 8px; /* Adjust this value as needed */
    }
}



